##### BEGIN METATRON AUTOCONFIG
# Do not remove the above line. The metatron CLI uses it to update this file.
# Set git proxy configuration (must be the first directive in this file)
[include]
    path = /Users/imckay/.gitconfig-proxy
# Do not remove the below line. The metatron CLI uses it to update this file.
##### END METATRON AUTOCONFIG
[init]
    defaultBranch = main

[include]
    path = ~/.gitaliases

[alias]
    # identify the main/master branch name, used in other alias
    main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
    remote-head = remote set-head origin --auto
    main = "!f(){ git checkout $(git main-branch) $@;}; f"
    pull-main = "!f(){ git pull --rebase --autostash origin $(git main-branch) $@;}; f"
    rebase-main = "!f(){ git rebase -i --autosquash origin/$(git main-branch) --no-verify $@;}; f"
    continue = "-c core.editor=true rebase --continue"
	undo = !git reset && git reset --hard && git clean -fd
	cleanup = !git clean -fd
    # list branches ordered by most recent commit
	twig = !git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) [%(color:red)%(objectname:short)%(color:reset)] %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
	leaf = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %C(bold blue)<%an> %Cgreen(%cr)%Creset' --abbrev-commit

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[color "branch"]
    current = green bold
    local = green
    remote = red bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
[color "sh"]
    branch = yellow

[pull]
    rebase = true
[push]
    autosetupremote = true
    # push will only do the current branch, not all branches
    default = upstream
[branch]
    # set up 'git pull' to rebase instead of merge
    autosetuprebase = always


# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

# Use `origin` as the default remote on the `main` branch in all cases
[branch "main"]
	remote = origin
	merge = refs/heads/main

[rerere]
	enabled = true
	autoupdate = true

[rebase]
    autoStash = true

[core]
	editor = code --wait --new-window
    pager = delta
	excludesFile = ~/.gitignore-global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

# [diff]
# 	tool = Kaleidoscope

# [difftool "Kaleidoscope"]
# 	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

# [difftool]
# 	prompt = false
# 	trustExitCode = true

# [merge]
# 	tool = bc

# [mergetool "bc"]
# 	trustExitCode = true

# [mergetool]
# 	prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
    helper = osxkeychain

[includeIf "gitdir:~/dev/work/"]
	path = ~/dev/work/.gitconfig-work
[includeIf "gitdir:~/dev/oss/"]
	path = ~/dev/oss/.gitconfig-oss

[http]
	postBuffer = 536870912
